.about-text {
  word-wrap: break-word;
  text-align: left;
}

/*  main-top */
.row h1 {
  color: black;
  margin-top: 0;
}
.col-sm-5 {
  text-align: left;
  line-height: 1px;
  display: flex;
  justify-content: space-around;
  
}
.col-sm-5 img {
  width: 40%;
  height: auto;
}
.bio-text {
  margin: 0;
  width: 100%;
  }

/*  main-education */
.edu-items {
  text-align: center;
  margin-top: 1.5rem;
}

/* main-skill */
.skill ul {
  padding: 0 5%;
}
.skill li {
  font-size: 0.75rem;
  text-align: left;
  align-items: left; 
  list-style: circle;
  padding-left: 3px;
}
.skill {
  display: flex;
  justify-content: center;
}



@media (min-width: 768px) {
  .col-sm-5 h1 {
    margin-bottom: 0;
    align-items: end;
    font-size: 2.5rem;
  }
  .col-sm-5 {
    display: flow-root;
  }
  .col-sm-5 img {
    width: 60%;
    margin-top: 30px;
  }
  
  .edu-items {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

}


@media (min-width: 1024px) {
  .col-sm-5 h1 {
    font-size: 3rem;
  }
  .bio-text {
    width: 100%; 
    margin: auto;
  }
  .skill li {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .col-sm-7 {
    margin-top: auto;
  }
  .col-sm-5 h1 {
    font-size: 4rem;
  }
} 
