body {
  box-sizing: border-box;
  font-family: serif;
}

h2 {
  font-family: 'Bodoni Moda';
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.75rem;
}
main, footer {
  padding: 0% 8%;
}
a {
  color: #8BA6CF;
}
.title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px;
}
section {
  margin-top: 40px;
  border-top: .2px solid #565555;
}
section:first-child {
  border-top: none;
}

/* -------- heaer ------------ */
.header {
  background-image: url("file:///Users/chiaki/Desktop/header.jpg");
  background-size: cover;
  width: 100%;
}
.header-nav, .header-title  {
  font-family: 'Bodoni Moda';
  color: #ffff;
  padding: 5% 8%;
}
.header-title h1{
  line-height: 0.5em;
}
li {
  list-style: none;
  margin-right: 8%;
  font-family: serif;
}
li:hover {
  color: #565555;
}
nav ul {
  display: flex;
  padding-left: 0;
}


/* ------- main-about ------------- */
.bio-photo{
  width: 50%;
  height: auto;
}
.bio-text {
  word-wrap: break-word;
  text-align: left;
}
.container {
  margin-bottom: 10px;
  color: #565555;
  
}

/* ------- main-works ------------- */
.works-text {
  word-wrap: break-word;
  text-align: center;
  padding: 0 5%;
}
.card {
  margin-bottom: 15px;
}
.btn {
  background-color: #83C2C7;
  color: #ffff;
}
.btn:hover {
  background-color: #8BA6CF;
  color: #ffff;
}

/* --------- main-contact --------- */
.contact img {
  width: 15px;
  height: auto;
}
.contact a {
  font-size: 0.9rem;
}

/* --------- footer --------- */
.social-media img{
  width: 20px;
  height: auto;
  margin: 0 5px;
}
.social-media {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}


/* --------- media query --------- */
@media (min-width: 768px) {
  .title {
    margin-bottom: 2%;
  }
  .works-text {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
  }
}


@media (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
  li {
    font-size: 1.25rem;
  }
  .title {
    margin-bottom: 50px;
  }
  .bio-text {
    width: 70%;
    margin: auto;
  }

}
