body {
  box-sizing: border-box;
  font-family: serif;
}

h2 {
  font-family: 'Bodoni Moda';
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.75rem;
  color: #565555;
}
main, footer {
  padding: 0% 8%;
}
a {
  color: #8BA6CF;
}
li {
  list-style: none;
}
.title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px;
}
section {
  margin-top: 40px;
  border-top: .2px solid #565555;
}
section:first-child {
  border-top: none;
}

/* -------- heaer ------------ */
.header {
  background-image: url("file:///Users/chiaki/%F0%9F%92%99Web%20site/Portfolio/profile-photo.jpg");
  background-size: cover;
  width: 100%;

}
.header-nav {
  width: 100%;
  font-family: 'Bodoni Moda';
  color: #ffff;
  padding: 4% 8%;
}
.header-title {
  font-family: 'Bodoni Moda';
  color: #ffff;
  text-align: right;
  padding: 15% 8% 10% 8%;

}
.header-title h1{
  line-height: 0.5em;
}
.header-nav a {
  color: #ffff;
  list-style: none;
  margin-left: 8%;
  font-family: serif;
}
.header-nav a:hover {
  color: #565555;
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: end;
  
 
}


/* ------- main-about ------------- */
.bio-text {
  margin: auto;
  width: 90%;
  word-wrap: break-word;
  text-align: left;
}
/* ------- main-works ------------- */
.works-text {
  word-wrap: break-word;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
.card {
  margin-bottom: 15px;
}
.btn {
  background-color: #83C2C7;
  color: #ffff;
}
.btn:hover {
  background-color: #8BA6CF;
  color: #ffff;
}

/* --------- main-contact --------- */
.contact img {
  width: 15px;
  height: auto;
}
.contact a {
  font-size: 0.9rem;
}

/* --------- footer --------- */
.social-media img{
  width: 20px;
  height: auto;
  margin: 0 5px;
}
.social-media {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}


/* --------- media query --------- */
@media (min-width: 768px) {
  .title {
    margin-bottom: 2%;
  }
  .header-title {
    padding: 15% 8% 20% 8%;
  }
  .bio-text {
    width: 75%;
  }
  .works-text {
    width: 75%;
  }
}


@media (min-width: 1024px) {
  h1 {
    font-size: 4.5rem;
  }triple crown
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
  li {
    font-size: 1.25rem;
  }
  .title {
    margin-bottom: 50px;
  }
  .header-title {
    padding: 10% 8% 25% 8%;
  }
  .header-title h2{
    font-size: 2.5rem;
  }


}
